{% extends 'after.html' %}

{% block content %}

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Analyse de donnée</h3>
            {% if erreur %}
               <div class="bg-alert alert-danger h-5">
                   <p>{{erreur}}</p>
               </div>
             {%endif%}
            <div class="card">
                <h5 class="text-center mb-4"></h5>
                <form class="form-card" action="{{url_for('predict')}}" method="post">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">AGE<span class="text-danger"> *</span></label>
                            <input type="tel" id="age" name="age">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">SEXE<span class="text-danger"> *</span></label>
                            <select id="sexe" name="sexe">
                                <option value="">--Please choose an option--</option>
                                <option value=1>Homme</option>
                                <option value=0>Femme</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">TDT<span class="text-danger"> *</span></label>
                            <select id="tdt" name="tdt">
                                <option value="">--Please choose an option--</option>
                                <option value=0>AA</option>
                                <option value=1>ASY</option>
                                <option value=2>AT</option>
                                <option value=3>DNA</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">PAR<span class="text-danger"> *</span></label>
                            <input type="tel" id="par" name="par">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">CHOLESTEROL<span class="text-danger"> *</span></label>
                            <input type="tel" id="chol" name="chol">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">GAI<span class="text-danger"> *</span></label>
                            <input type="tel" id="gai" name="gai">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">ECG<span class="text-danger"> *</span></label>
                            <select id="ecg" name="ecg">
                                <option value="">--Please choose an option--</option>
                                <option value=0>LVH</option>
                                <option value=1>Normal</option>
                                <option value=2>ST</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">FCMAX<span class="text-danger"> *</span></label>
                            <input type="tel" id="fcmax" name="fcmax">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">ANGINE<span class="text-danger"> *</span></label>
                            <select id="angine" name="angine">
                                <option value="">--Please choose an option--</option>
                                <option value=0>NON</option>
                                <option value=1>OUI</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">DEPRESSION<span class="text-danger"> *</span></label>
                            <select id="depres" name="depres">
                                <option value="">--Please choose an option--</option>
                                <option value=0>0</option>
                                <option value=1>1</option>
                                <option value=1.5>1.5</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex">
                            <label class="form-control-label px-3">PENTE<span class="text-danger"> *</span></label>
                            <select id="pente" name="pente">
                                <option value="">--Please choose an option--</option>
                                <option value=0>Ascendant</option>
                                <option value=1>Descendant</option>
                                <option value=3>Plat</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-sm-6">
                            <button type="submit" class="btn-block btn-primary" value="predict">Predition</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!--<div style="width: 500px; height: 200px; border:1px solid green; margin:auto; background-color:#fcfcfc">

    </div>-->
    {% if predict == 1 %}
       <p class="alert-danger p-2 text-center"> Vous avez est malade </p>
    {% elif predict == 0 %}
        <p class="bg-success p-2 text-center" style="color: #ffff"> pas de problème ,Mais resté prudent  </p>
    {% endif %}
</div>

{% endblock %}